{% extends 'main/layout.html' %}

{% block title %} Time Tracker {% endblock %}


{% block content %}

     <div class="dis">
            <div class="container">
                <div class="logo">
                    <img class="img-logo" src="static/main/img/v21_16.png" alt="">
                </div>

                <div class="registration-form">
                    <h2>Ведите 6-значный код</h2>

                    <form>
                        <div class="form-group">
                            <input type="password" placeholder="Код" required>
                        </div>
                        <button type="submit" class="submit-btn">Продолжить</button>
                    </form>
                </div>
        </div>
        </div>

{% endblock %}